#if( $!spaceVariable )
    #if($spaceVariable.deleted)
        #$spaceVariable.name
    #else
        <a href='$req.contextPath$url' id="confluence-utils-space-variable-$spaceVariable.ID" title="$spaceVariable.name">#$spaceVariable.name</a>
    #end
#end